html
	head
		title profile
		link(href='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href='css/bootstrap-theme.min.css' type='text/css' rel='stylesheet')
	body
		h2(align='center') This is your awesome profile page 
	body
		div.jumbotron
			div.container(align='center')
				div.input
				a.waves-effect.waves-light.btn(href='/logout') Logout
				a.waves-effect.waves-light.btn(href='/createPost') Postmessage
				a.waves-effect.waves-light.btn(href='/ownPosts') View Own Posts
				a.waves-effect.waves-light.btn(href='/allPosts') View All Posts
